body {
    background-color: beige;
}

.main {
  max-width: 960px;
  margin: 0 auto;
}

div.guess, .available {
    margin-top: 20px;
    border: 2px black solid;
}

.letter {
    position: absolute;
    font-size: 3em;
    font-family: Monospace;
    text-transform: uppercase;
}

.available_letters, .guess_letters {
    font-size: 3em;
}

.word {
    text-transform: uppercase;
    font-family: Monospace;
    font-size: 2em;
    margin: 10px 10px;
    display: inline-block;
}

.notfound {
    color: grey;
}

.otherfound {
    color: red;
}

button {
    height: 60px;
    width: 60px;
}

.solve {
  display: none;
}
